<div class="row">
  <div class="col-xs-12">
    <h1>New Comment</h1>
    <%= form_for [ @post, @comment ] do |f| %>

    <div class="margin-half">
      <%= f.label :author %>
      <%= f.text_field :author, :required => 'required', class: 'form-control' %>
    </div>

    <div class="margin-half">
      <%= f.label :body, 'Comment' %>
      <%= f.text_area :body, :required => 'required', class: 'form-control', rows: 10  %>
    </div>

    <div class="margin">
      <%= f.submit 'Send comment', class: 'btn btn-default' %>
    </div>

  <% end %>
  </div>
</div>